<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tra cứu bệnh án</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma-divider.min.css') }}">

  <style>
    nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="{{ url_for('static', path='/images/bvtd.jpg') }}" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
            <div class="control has-icons-left">
              <input class="input is-rounded" type="email" placeholder="Search">
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
          <a class="navbar-item is-active is-size-5 has-text-weight-semibold">
            Home
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold">
            Examples
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold">
            Features
          </a>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- END NAV -->

  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-1">
              <div class="content is-medium">
                <h1 class="title">Tìm kiếm kết quả sàng lọc sơ sinh</h1>
                <div class="field">
                  <label class="label">Số lưu trữ hoặc Mã số xét nghiệm</label>
                  <div class="control">
                    <input class="input" type="text" id="patient-id" onClick=PrepareSearch() placeholder="Ví dụ: 2200012345 hoặc AA123456">
                  </div>
                  <p class="help is-info" id="patient-id-instruction">Lưu ý: Số lưu trữ nhập 10 số (góc phải của giấy ra viện)</p>
                </div>
                  
                <div class="field">
                  <div class="control">
                    <button class="button is-info" onClick=SearchpatientById()>Tìm Kiếm</button>
                  </div>
                </div>

                <div class="content is-small">
                  <div class="title" id="search-result"></div>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</body>

</html>

<script type="text/javascript">
  function SearchpatientById() {
    var patient_id = document.getElementById('patient-id').value
    
    if (patient_id) {
      url = window.location.origin + "/patient-info"
      $.ajax({
        url: url,
        type: "get", //send it through get method
        data: { 
          patient_id: patient_id
        },
        success: function(response) {
          console.log(response.name)
        },
        error: function(xhr) {
          var search_result = document.getElementById("search-result");
          search_result.innerHTML = 'Không tìm thấy kết quả cho: ' + patient_id
        }
      });

    } else {
      var id_instruction = document.getElementById("patient-id-instruction");
      id_instruction.innerHTML = 'Trường mã số xét nghiệm không được để trống'
      id_instruction.classList.replace('is-info', 'is-danger');
    }
  }

  function PrepareSearch() {
    var id_instruction = document.getElementById("patient-id-instruction");
    id_instruction.innerHTML = "Lưu ý: Số lưu trữ nhập 10 số (góc phải của giấy ra viện)"
    id_instruction.classList.replace('is-danger', 'is-info');
  }
</script>